@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*
*::after
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --lg-coral:#EF767A;
  --Lp-luzuli:#456990;
  --Turq-ios: #49DCB1;
  --Keeplel:#49BEAA;

}



body{
  background: var(--lg-coral);
  background-image: url('back.svg');
  background-size: cover;
  margin: 0;
  font-family:'Times New Roman';
  font-size: 2rem;
  animation: load 1s ease-in;
  line-height: 1.6;
  }


@keyframes load{
  0%{
    background: none;
  }
  100%{
    background: var(--lg-coral);
    background-image: url('back.svg');
    background-size: cover;
  }
}




*{
  margin: 0;
  padding:0;
}

.card{
  background: #FFFAFA;
  font-weight:bold;
  border: solid;
  border-width:10px;
  border-color: #9d9dff;
  padding:5px;
  height: fit-content;
  min-width:200px;
  max-width: 300px;
  margin-top: 10px;
  animation: roll 1s ease-in;
}

@keyframes roll{
  0%{
    transform: scale(0);

  }
  100%{
    transform: scale(1.0);
  }
}


.step{
  position:relative;
  height: 40px;
  width: 40px;
  border:solid;
  align-items:center;
  justify-content:center;
  display:flex;
  font-size:2rem;
  border-radius: 50%;
  border-color:inherit;
  border-width:inherit;
  background:inherit;
  color:#ccc;
  left:38%;
  top:-40px;
}

#red{
  background: indianred;
}

#blue{
  background: steelblue;
}


.textbox{
  max-width: 80%;
  padding:5px;
  text-align:justify;
  border:solid;
  margin-left:20px;
  position:relative;
  margin-top:-20px;
  border:inherit;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  border:none;
  font-family:monospace;
  font-size:1.08rem;
  color: #444;
}






#box{
  position: absolute;
  display: flex-inline;
  justify-content: center;
  align-items: center;
  width: 50vw;
  top:140px;
  left: 80px;
 

}

#crick{
  background: red;
}

#mover{
  margin-left: 60%;
  background: springgreen;
}


textarea{
  font-family: 'Source Serif Pro', serif;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10px, 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 100%;
  min-height: 50vh;
  background: #666;

}

.drag-area{
  z-index: 15;
  border: 2px dashed #fff;
  height: 600px;
  width: 500px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #333;
  opacity: 0.8;
  margin-left: 60vw;
  margin-top:-5%;
  animation: open 1s ease-in;
}

@keyframes open{
  0%{
    transform: scaleY(0);

  }
  100%{
    transform: scaleY(1);
  }
}


.drag-area.active{
  border: 2px solid #fff;
  
}
.drag-area .icon{
  font-size: 100px;
  color: #fff;
}

.drag-area header{
  font-family: sans-serif;
  font-size: 30px;
  font-weight:bolder;
  color: #c4c4c4;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}


.drag-area .upl{
    height: 60px;
    width: 120px;
    background: rgba(231, 231, 231, 0.18);
    border-radius: 16px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(231, 231, 231, 0.38);
    margin-left: 33%;
    font-family: serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: #ccc;
    box-shadow:0 6px #999;
}

.upl:active{
  box-shadow:0 2px #666;
  transform: translateY(6px);

}

.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}