{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link rel="preconnect" href=" https://fonts.googleapis.com ">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{% static 'work.js' %}" defer></script>
	<title>Plagcheck </title>	
</head>
<body>
	{% block content %}
	<h1>404 Pages Not Found</h1>
	{% endblock%}

</body>	
</html>